<div class="flex items-center justify-between p-4">
    <app-icon class="icon" [name]="iconName" />
    <div class="cats-info md:gap-3 items-center justify-center">
        @if (editing) {
        <input [(ngModel)]="editedCategory.name" class="principal input place-self-start" (input)="onInput($event)" />
        } @else {
        <p class="principal place-self-start">{{ categoryName }}</p>
        }
        @if (editing) {
        <input [value]="displayPercentageValue" type=text id="percentage" class="principal place-self-center input"
            (input)="onInput($event)" />
        } @else {
        <span class="percentage income place-self-center">{{ percentage | number:'1.0-2' }}%</span>
        }
    
        @if (editing) {
        <input [value]="displayAssignedValue" type="text" id="assignedAmount" class="principal place-self-center input"
            (input)="onInput($event)" />
        } @else {
        <p class="assigned-amount principal place-self-center">${{ assignedAmount | number:'1.0-2' }}</p>
        }
    </div>
    <div class="cats-btns gap-1 md:gap-3 items-center">
        @if(!editing){
        @if (isLocked) {
        <button (click)="lockCategory()">
            <app-icon class="icon" [name]="'lock'" />
        </button>
        } @if (!isLocked){
        <button (click)="lockCategory()">
            <app-icon class="principal" [name]="'unlock'" />
        </button>
        }}
        @if (!isLocked) {
        <button (click)="onEditChange()">
            <app-icon class="principal" [name]="'pencil'" />
        </button>
        <button (click)="deleteCategory()">
            <app-icon class="principal" [name]="'trash'" />
        </button>
        }
    </div>
</div>