@if (isUserLogged) {
<div class="w-full card px-5 md:px-8 flex items-center justify-between">
    <h1 class="logo"> Getter </h1>
    @if (budgetService.windowWidth() <= 768){ <div>
        <button (click)="signOutClick.emit()" class="login-btn">Cerrar sesión</button>
</div>
} @else {
<div class="flex items-center gap-4">
    <span class="principal">{{ userName }}</span>
    <button (click)="signOutClick.emit()" class="login-btn">Cerrar sesión</button>
</div>
}
</div>
} @else {
<div class="w-full card px-5 md:px-8 flex items-center justify-between">
    <h1 class="logo"> Getter </h1>
    <div class="mobile">
        <button (click)="loginClick.emit()" class="login-btn">Inicia sesión</button>
    </div>
    <div class="desktop flex items-center gap-4">
        <button (click)="loginClick.emit()" class="login-btn">Inicia sesión</button>
        <button (click)="signUpClick.emit()" class="register-btn">Regístrate</button>
    </div>
</div>
}