.input {
    background: rgba(17, 24, 39, 0.7);
    backdrop-filter: blur(12px);
    border-color: rgb(38, 45, 61);
}

.green {
    color: rgb(74, 222, 128);
}

.red {
    color: rgb(248, 113, 113);
}

.yellow {
    color: rgb(212, 175, 122)
}