<div class="card p-5 h-full gap-2 flex flex-col">
    <div class="flex items-center justify-between">
        <h1 class="text-xl principal">{{ budgetService.uiConfig()?.totalBalance }}</h1>
        <div class="flex items-center gap-3">
            <input [value]="displayValue" type="text" class="principal" (input)="onInput($event)" />
            <button class="button"
                (click)="budgetService.updateTotalAssigned(total)">
                <app-icon [name]="'pencil-square'" [size]="'xs'"></app-icon>
            </button>
        </div>
    </div>
    <h1 class="principal my-2 text-2xl">${{ budgetService.totalBalanceMock | number:'1.2-2'}}</h1>
    <div class="flex items-center gap-2 mt-8">
        <p class="principal">Porcentaje disponible: </p><span class="text-sm text-gray-500" [ngClass]="statusColor">{{ budgetService.totalPercentage }}%</span> <p class="principal">|  Porcentaje asignado: </p><span class="text-sm text-gray-300">{{ budgetService.totalAssigned | number:'1.2-2' }}</span>

    </div>
</div>