<div class=" items-center justify-between grid grid-cols-4 p-4">
    <div class="flex gap-3 items-center">
        <app-icon class="icon" [name]="iconName"/>
        <p class="principal">{{ categoryName }}</p>
    </div>
        <span class="percentage income place-self-center">{{ percentage }}%</span>
        @if (assignedAmount > 0) {
            <p class="assigned-amount principal place-self-center">${{ assignedAmount | number:'1.2-2' }}</p>
        }
        
    <div class="flex gap-3 items-center place-self-end">
        @if (isLocked) {
            <button>
                <app-icon class="icon" [name]="'lock'"/>
            </button>
        } @if (!isLocked){
            <button>
                <app-icon class="principal" [name]="'pencil'"/>
            </button>
        }
        <button>
            <app-icon class="principal" [name]="'trash'"/>
        </button>
    </div>
</div>