.icon {
    color: rgb(74, 222, 128)
}

.input{
    background: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.06);
    color: #9CA3AF;
    padding: 4px 6px;
    border-radius: 6px;
}