<div class="card p-5 w-full flex flex-col">
    <div class="flex justify-between mb-1">
        <p class="principal text-lg main-title font-bold">Presets</p>
        @if(authService.userIsLoggedIn()){
        <button class="text-sm" (click)="budgetService.savePreset(budgetService.categories())">Guardar preset</button>
        }
    </div>
    <div class="flex flex-col mt-2 gap-3 overflow-y-auto overflow-x-hidden max-h-40">
        @for (item of this.budgetService.userCategories(); track $index) {
        <div class="flex items-center preset-category justify-between p-2 rounded-md">
            <p class="principal">{{ item.name }}</p>
            <button (click)="applyPreset(item.categories)" class="text-btn">
                <app-icon name="plus" [size]="'xxs'"></app-icon>
                <p class="text-sm">Usar</p>
            </button>
        </div>
        }
    </div>
</div>