<div class="card flex flex-col p-5 w-full justify-between overflow-y-auto">
    <p class="principal text-lg">Mis categorias</p>
    <div class="flex flex-col mt-2">
        @for (item of budgetService.categories(); track $index) {
        <app-category [categoryName]="item.name" [iconName]="item.iconName" [assignedAmount]="item.assignedAmount"
            [percentage]="item.percentage" [id]="item.id" (edit)="editCategory($event)"
            (remove)="removeCategory($event)" (lock)="lockCategory($event)" />
        }
    </div>
</div>